<div class="jumbotron contact-title">
  <div class="container">
    <h1 class="white">Contact Us</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/eboard/president.png">
        <div class="card-body text-center">
          <h4>Jose Luis Alegria</h4>
          <p class="card-text text-muted">President</p>
          <p class="card-text text-muted">president.shpeuf@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/eboard/graduate.JPG">
        <div class="card-body text-center">
          <h4>Nicholas Abuid</h4>
          <p class="card-text text-muted">Graduate Coordinator</p>
          <p class="card-text text-muted">graduate.shpeuf@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/eboard/secretary.JPG">
        <div class="card-body text-center">
          <h4>Isabella Campbell</h4>
          <p class="card-text text-muted">Secretary</p>
          <p class="card-text text-muted">secretary.shpeuf@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/eboard/treasurer.JPG">
        <div class="card-body text-center">
          <h4>Anthony Moreno</h4>
          <p class="card-text text-muted">Treasurer</p>
          <p class="card-text text-muted">treasurer.shpeuf@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/eboard/marketing.JPG">
        <div class="card-body text-center">
          <h4>Jonathan Morales</h4>
          <p class="card-text text-muted">Vice President of Marketing</p>
          <p class="card-text text-muted">vpmarketing.shpeuf@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/eboard/corporate.JPG">
        <div class="card-body text-center">
          <h4>Jonathan Medina</h4>
          <p class="card-text text-muted">Vice President of Corporate Affairs</p>
          <p class="card-text text-muted">vpcorporate.shpeuf@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/eboard/tech.JPG">
        <div class="card-body text-center">
          <h4>Rodrigo Lobo</h4>
          <p class="card-text text-muted">Vice President of Technology</p>
          <p class="card-text text-muted">vptech.shpeuf@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/eboard/external.png">
        <div class="card-body text-center">
          <h4>Domingo Alegria</h4>
          <p class="card-text text-muted">Vice President of External Affairs</p>
          <p class="card-text text-muted">vpexternal.shpeuf@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/eboard/internal.png">
        <div class="card-body text-center">
          <h4>Duncan Ross</h4>
          <p class="card-text text-muted">Vice President of Internal Affairs</p>
          <p class="card-text text-muted">vpinternal.shpeuf@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
