<div class="jumbotron text-center">
  <h1 class="orange-text">UNIVERSITY OF FLORIDA</h1>
  <h1 class="white-text">Society of Hispanic Professional Engineers</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Welcome</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum ipsum non lacus maximus fringilla. Aliquam pellentesque faucibus ipsum, eget semper dolor malesuada sit amet. Maecenas pretium scelerisque augue at mattis. Vivamus volutpat arcu lorem,
        eu facilisis quam accumsan eleifend. Quisque volutpat nec libero sit amet vehicula. Sed convallis ipsum vel turpis posuere iaculis a sit amet lorem. Suspendisse luctus lacus sed mi vulputate, ac ornare ante mollis.
      </p>
      <p>
        Nam porttitor lacus at tortor placerat, non gravida lacus sollicitudin. Suspendisse et ante nec mauris tempus euismod. Aenean lobortis nunc sollicitudin diam bibendum, ut fringilla massa placerat. Orci varius natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Donec ullamcorper mauris non dignissim tempor. Integer vestibulum, justo quis mollis scelerisque, diam ligula ultrices nisl, eu volutpat magna mi eu purus. Fusce in lectus feugiat, egestas nulla non, convallis
        mauris. Vivamus fermentum ipsum mollis purus vehicula imperdiet.
      </p>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-4 text-center">
      <h2>Incentives Program</h2>
      <i class="fas fa-7x fa-trophy"></i>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt convallis varius. Donec quis lacinia risus, sit amet placerat purus.
      </p>
    </div>
    <div class="col-sm-4 text-center">
      <h2>Alumni Directory</h2>
      <i class="fas fa-7x fa-globe-americas"></i>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt convallis varius. Donec quis lacinia risus, sit amet placerat purus.
      </p>
    </div>
    <div class="col-sm-4 text-center">
      <h2>Résumé Repository</h2>
      <i class="fas fa-7x fa-file-alt"></i>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt convallis varius. Donec quis lacinia risus, sit amet placerat purus.
      </p>
    </div>
  </div>

</div>
