<div class="jumbotron team-jumbotron">
  <div class="container">
    <h1 class="white-text">Meet the team behind MemberSHPE UF</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Fall 2018 - Spring 2019</h2>
    </div>

    <div class="col-12 col-md-6 col-lg-3" style="margin-bottom: 16px;">
      <div class="card">
        <div ng-init="hover_cesar=false" ng-mouseover="hover_cesar=true" ng-mouseout="hover_cesar=false">
          <img class="card-img-top img-team" src="../../assets/images/team/cesar.jpg" ng-if="!hover_cesar">
          <img class="card-img-top img-team" src="../../assets/images/team/cesar.gif" ng-if="hover_cesar">
        </div>
        <div class="card-body text-center">
          <h4>César González</h4>
          <p class="card-text text-muted">Project Manager</p>
        </div>
        <div class="card-footer text-center">
          <a class="btn btn-website btn-block" href="http://www.cecrigope.com" target="_blank"><i class="fas fa-globe"></i> Website</a>
          <a class="btn btn-linkedin btn-block" href="http://www.linkedin.com/in/cecrigope" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
          <a class="btn btn-email btn-block" href="mailto:cecrigope@gmail.com"><i class="fas fa-at"></i> Email</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3" style="margin-bottom: 16px;">
      <div class="card">
        <div ng-init="hover_ashley=false" ng-mouseover="hover_ashley=true" ng-mouseout="hover_ashley=false">
          <img class="card-img-top img-team" src="../../assets/images/team/ashley.jpg" ng-if="!hover_ashley">
          <img class="card-img-top img-team" src="../../assets/images/team/placeholder.png" ng-if="hover_ashley">
        </div>
        <div class="card-body text-center">
          <h4>Ashley Conrado</h4>
          <p class="card-text text-muted">Developer</p>
        </div>
        <!-- <div class="card-footer text-center">
          <a class="btn btn-website btn-block" href="http://www.cecrigope.com" target="_blank"><i class="fas fa-globe"></i> Website</a>
          <a class="btn btn-linkedin btn-block" href="http://www.linkedin.com/in/cecrigope" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
          <a class="btn btn-email btn-block" href="mailto:cecrigope@gmail.com"><i class="fas fa-at"></i> Email</a>
        </div> -->
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3" style="margin-bottom: 16px;">
      <div class="card">
        <div ng-init="hover_eduardo=false" ng-mouseover="hover_eduardo=true" ng-mouseout="hover_eduardo=false">
          <img class="card-img-top img-team" src="../../assets/images/team/eduardo.jpg" ng-if="!hover_eduardo">
          <img class="card-img-top img-team" src="../../assets/images/team/placeholder.png" ng-if="hover_eduardo">
        </div>
        <div class="card-body text-center">
          <h4>Eduardo Graziano</h4>
          <p class="card-text text-muted">Developer</p>
        </div>
        <!-- <div class="card-footer text-center">
          <a class="btn btn-website btn-block" href="http://www.cecrigope.com" target="_blank"><i class="fas fa-globe"></i> Website</a>
          <a class="btn btn-linkedin btn-block" href="http://www.linkedin.com/in/cecrigope" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
          <a class="btn btn-email btn-block" href="mailto:cecrigope@gmail.com"><i class="fas fa-at"></i> Email</a>
        </div> -->
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3" style="margin-bottom: 16px;">
      <div class="card">
        <div ng-init="hover_jonathan=false" ng-mouseover="hover_jonathan=true" ng-mouseout="hover_jonathan=false">
          <img class="card-img-top img-team" src="../../assets/images/team/jonathan.jpg" ng-if="!hover_jonathan">
          <img class="card-img-top img-team" src="../../assets/images/team/placeholder.png" ng-if="hover_jonathan">
        </div>
        <div class="card-body text-center">
          <h4>Jonathan Morales</h4>
          <p class="card-text text-muted">Developer</p>
        </div>
        <!-- <div class="card-footer text-center">
          <a class="btn btn-website btn-block" href="http://www.cecrigope.com" target="_blank"><i class="fas fa-globe"></i> Website</a>
          <a class="btn btn-linkedin btn-block" href="http://www.linkedin.com/in/cecrigope" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
          <a class="btn btn-email btn-block" href="mailto:cecrigope@gmail.com"><i class="fas fa-at"></i> Email</a>
        </div> -->
      </div>
    </div>
  </div>
</div>
