<div class="jumbotron team-title">
  <div class="container">
    <h1 class="white">Meet the team behind MemberSHPE</h1>
  </div>
</div>

<div class="container">
  <!-- FALL 2019 - SPRING 2020 -->
  <div class="row">
    <div class="col-12">
      <h1>Fall 2019 - Spring 2020</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-3" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/team/eduardo.jpg">
        <div class="card-body text-center">
          <h4>Eduardo Graziano</h4>
          <p class="card-text text-muted">Project Manager</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/team/cesar.jpg">
        <div class="card-body text-center">
          <h4>César González</h4>
          <p class="card-text text-muted">Developer</p>
        </div>
        <div class="card-footer text-center">
          <a class="btn btn-website btn-block" href="http://www.cecrigope.com" target="_blank"><i class="fas fa-globe"></i> Website</a>
          <a class="btn btn-linkedin btn-block" href="http://www.linkedin.com/in/cecrigope" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
          <a class="btn btn-email btn-block" href="mailto:cecrigope@gmail.com"><i class="fas fa-at"></i> Email</a>
        </div>
      </div>
    </div>
  </div>

  <!-- FALL 2018 - SPRING 2019 -->
  <div class="row">
    <div class="col-12">
      <h1>Fall 2018 - Spring 2019</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-3" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/team/cesar.jpg">
        <div class="card-body text-center">
          <h4>César González</h4>
          <p class="card-text text-muted">Project Manager</p>
        </div>
        <div class="card-footer text-center">
          <a class="btn btn-website btn-block" href="http://www.cecrigope.com" target="_blank"><i class="fas fa-globe"></i> Website</a>
          <a class="btn btn-linkedin btn-block" href="http://www.linkedin.com/in/cecrigope" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
          <a class="btn btn-email btn-block" href="mailto:cecrigope@gmail.com"><i class="fas fa-at"></i> Email</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/team/ashley.jpg">
        <div class="card-body text-center">
          <h4>Ashley Conrado</h4>
          <p class="card-text text-muted">Developer</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/team/eduardo.jpg">
        <div class="card-body text-center">
          <h4>Eduardo Graziano</h4>
          <p class="card-text text-muted">Developer</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3" style="margin-bottom: 16px;">
      <div class="card">
        <img class="card-img-top img-team" src="../../assets/images/team/jonathan.jpg">
        <div class="card-body text-center">
          <h4>Jonathan Morales</h4>
          <p class="card-text text-muted">Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
