<div class="container custom-container">
  <div class="row">
    <div class="col-12">
      <h2>Alumni Directory</h2>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <div id="mapid"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Search</span>
              </div>
              <input type="text" class="form-control" ng-model="alumniSearchText">
            </div>
          </div>
        </div>
        <table class="table table-responsive-lg table-striped">
          <tr>
            <th ng-click="alumni.sortBy('name', alumni.alumniArray)">Name</th>
            <th ng-click="alumni.sortBy('undergrad', alumni.alumniArray)">Undegraduate Major</th>
            <th ng-click="alumni.sortBy('employer', alumni.alumniArray)">Employer</th>
            <th ng-click="alumni.sortBy('position', alumni.alumniArray)">Title/Position</th>
            <th ng-click="alumni.sortBy('city', alumni.alumniArray)">Location</th>
            <th class="text-center">LinkedIn</th>
          </tr>
          <tr ng-repeat="alumni in alumni.alumniArray | filter: alumniSearchText">
            <td>{{ alumni.name }}</td>
            <td>{{ alumni.undergrad }}</td>
            <td>{{ alumni.employer }}</td>
            <td>{{ alumni.position }}</td>
            <td>{{ alumni.city }}, {{ alumni.state }}, {{ alumni.country }}</td>
            <td class="text-center">
              <a class="btn btn-submit" href="{{ alumni.linkedIn }}" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
