<div class="container custom-container">
  <div class="row">
    <div class="col-12">
      <h2>Alumni Directory</h2>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <h3 class="subtitle">Alumni Map</h3>
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAPKWwFCQaom_PqLp9wSq1FQsrt0xGcY6w&q=_blank" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <table class="table table-responsive-lg table-striped">
          <tr>
            <th>Name</th>
            <th>Undegraduate Major</th>
            <th>Employer</th>
            <th>Title/Position</th>
            <th>Location</th>
            <th class="text-center">LinkedIn</th>
          </tr>
          <tr ng-repeat="alumni in alumni.alumniArray | orderBy: 'name'">
            <td>{{ alumni.name }}</td>
            <td>{{ alumni.undergrad }}</td>
            <td>{{ alumni.employer }}</td>
            <td>{{ alumni.position }}</td>
            <td>{{ alumni.city }}, {{ alumni.state }}, {{ alumni.country }}</td>
            <td class="text-center">
              <a class="btn btn-submit" href="{{ alumni.linkedIn }}" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
