<div class="container custom-container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Admin Panel</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-request-tab" data-toggle="tab" data-target="#nav-request" role="tab" aria-controls="nav-request" aria-selected="false">Requests</a>
          <a class="nav-item nav-link" id="nav-member-tab" data-toggle="tab" data-target="#nav-member" role="tab" aria-controls="nav-member" aria-selected="true">Members</a>
          <a class="nav-item nav-link" id="nav-event-tab" data-toggle="tab" data-target="#nav-event" role="tab" aria-controls="nav-event" aria-selected="false">Events</a>
          <a class="nav-item nav-link" id="nav-stats-tab" data-toggle="tab" data-target="#nav-stats" role="tab" aria-controls="nav-stats" aria-selected="false">Statistics</a>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-request" role="tabpanel" aria-labelledby="nav-request-tab">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Search</span>
                  </div>
                  <input type="text" class="form-control" ng-model="requestSearchText">
                </div>
              </div>
            </div>
            <table class="table table-responsive-lg table-striped">
              <tr>
                <th>MEMBER</th>
                <th>USERNAME</th>
                <th>EVENT</th>
                <th>TYPE</th>
                <th class="text-center">POINTS</th>
                <th class="text-center">APPROVE</th>
                <th class="text-center">DENY</th>
              </tr>
              <tr ng-repeat="request in admin.requests | orderBy: 'name' | filter: requestSearchText">
                <td>{{ request.lastName }}, {{ request.firstName }}</td>
                <td>{{ request.username }}</td>
                <td>{{ request.eventName }}</td>
                <td>{{ request.type }}</td>
                <td class="text-center">{{ request.points }}</td>
                <td class="text-center">
                  <button type="button" class="btn btn-success" ng-click="admin.acceptRequest(request)" ng-if="!admin.isClicked">
                    <i class="fas fa-check"></i>
                  </button>
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-danger" ng-click="admin.denyRequest(request)" ng-if="!admin.isClicked">
                    <i class="fas fa-times"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-member" role="tabpanel" aria-labelledby="nav-member-tab">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Search</span>
                  </div>
                  <input type="text" class="form-control" ng-model="membersSearchText">
                </div>
              </div>
            </div>
            <table class="table table-responsive-lg table-striped">
              <tr>
                <th ng-click="admin.sortBy('lastName', admin.users)">NAME</th>
                <th ng-click="admin.sortBy('username', admin.users)">USERNAME</th>
                <th ng-click="admin.sortBy('major', admin.users)">MAJOR</th>
                <th ng-click="admin.sortBy('year', admin.users)">YEAR</th>
                <th ng-click="admin.sortBy('email', admin.users)">EMAIL</th>
                <th ng-click="admin.sortBy('points', admin.users)">POINTS</th>
              </tr>
              <tr ng-repeat="user in admin.users | filter: membersSearchText">
                <td>{{ user.lastName }}, {{ user.firstName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.major }}</td>
                <td>{{ user.year }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.points }}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-event" role="tabpanel" aria-labelledby="nav-event-tab">
          <div class="container">
            <div class="row">
              <div class="col-md-11 col-sm-11 col-12">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Search</span>
                  </div>
                  <input type="text" class="form-control" ng-model="eventSearchText">
                </div>
              </div>
              <div class="col-md-1 col-sm-1 col-12">
                <button type="button" class="btn btn-submit float-right" ng-click="admin.openCreateEventModal()" style="margin-bottom:16px">
                  <i class="far fa-calendar-alt"></i>
                </button>
              </div>
            </div>
            <table class="table table-responsive-lg table-striped">
              <tr>
                <th>NAME</th>
                <th>CODE</th>
                <th>TYPE</th>
                <th>EXPIRATION</th>
                <th class="text-center">POINTS</th>
                <th class="text-center">ATTENDANCE</th>
                <th class="text-center">MANUAL INPUT</th>
                <!-- <th class="text-center">STATISTICS</th> -->
              </tr>
              <tr ng-repeat="code in admin.codes | orderBy: 'lastName' | filter: eventSearchText">
                <td>{{ code.name }}</td>
                <td>{{ code.code }}</td>
                <td>{{ code.type }}</td>
                <td>{{ code.expiration | date:'MM/dd/yyyy @ hh:mm a' }}</td>
                <td class="text-center">{{ code.points }}</td>
                <td class="text-center">
                  <button type="button" class="btn btn-submit" ng-click="admin.openAttendanceModal(code)">
                    <i class="fas fa-users"></i>
                  </button>
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-submit" ng-click="admin.openManualInputModal(code)">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                </td>
                <!-- <td class="text-center">
                  <button type="button" class="btn btn-danger" ng-click="admin.denyRequest(request)" ng-if="!admin.isClicked">
                    <i class="fas fa-times"></i>
                  </button>
                </td> -->
              </tr>
            </table>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-stats" role="tabpanel" aria-labelledby="nav-stats-tab">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <canvas id="nationalityChart"></canvas>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<!-- CREATE EVENT MODAL -->
<div class="modal fade" id="createEventModal" aria-labelledby="createEventLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="createEventLabel">Create Event</h3>
      </div>
      <div class="modal-body">
        <div class="success-message" ng-show="admin.successMsg">
          <div class="alert alert-success">{{ admin.successMsg }}</div>
        </div>

        <div class="error-message" ng-show="admin.errorMsg">
          <div class="alert alert-danger">{{ admin.errorMsg }}</div>
        </div>

        <form name="createEventForm" ng-submit="admin.createEvent(eventData);" novalidate>
          <div class="form-group">
            <label for="eventName">Event Name</label>
            <input type="text" class="form-control" name="name" id="eventName" ng-model="admin.eventData.name" required>
          </div>

          <div class="form-group">
            <label for="eventCode">Event Code</label>
            <input type="text" class="form-control" name="code" id="eventCode" ng-model="admin.eventData.code" required>
          </div>

          <div class="form-group">
            <label for="eventType">Event Type</label>
            <select class="form-control" name="type" id="eventType" ng-model="admin.eventData.type" required>
              <option>General Body Meeting</option>
              <option>Cabinet Meeting</option>
              <option>Social</option>
              <option>Form/Survey</option>
              <option>Corporate Event</option>
              <option>Fundraiser</option>
              <option>Volunteering</option>
              <option>Miscellaneous</option>
            </select>
          </div>

          <div class="form-group">
            <label for="eventExpiration">Expire After</label>
            <select class="form-control" name="expiration" id="eventExpiration" ng-model="admin.eventData.expiration" required>
              <option value="1">1 hour</option>
              <option value="2">2 hours</option>
              <option value="3">3 hours</option>
              <option value="4">4 hours</option>
              <option value="5">5 hours</option>
            </select>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-success" ng-if="admin.showCreateEventModal">Submit</button>
              <button type="reset" class="btn btn-danger" ng-click="admin.closeCreateEventModal(eventData)">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- EVENT ATTENDANCE TABLE -->
<div class="modal fade" id="attendanceModal" aria-labelledby="attendanceModalLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="attendanceModalLabel">Event Attendance</h3>
      </div>
      <div class="modal-body">
        <p style="text-transform: uppercase"><b>EVENT:</b> {{ admin.eventName }} </br>
          <b>ATTENDANCE:</b> {{ admin.attendance.length }}</p>
        <table class="table table-responsive-lg table-striped attendance-table">
          <tr>
            <th>NAME</th>
            <th>USERNAME</th>
            <th>EMAIL</th>
          </tr>
          <tr ng-repeat="user in admin.attendance | orderBy: 'lastName'">
            <td>{{ user.lastName }}, {{ user.firstName }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
          </tr>
        </table>
        <div class="row">
          <div class="col-sm-12">
            <button type="reset" class="btn btn-danger float-right" ng-click="admin.closeAttendanceModal(eventData)">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MANUAL INPUT MODAL -->
<div class="modal fade" id="manualInputModal" aria-labelledby="manualInputModalLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="manualInputLabel">Manual Input</h3>
      </div>
      <div class="modal-body">

        <div class="success-message" ng-show="admin.successMsg">
          <div class="alert alert-success">{{ admin.successMsg }}</div>
        </div>

        <div class="error-message" ng-show="admin.errorMsg">
          <div class="alert alert-danger">{{ admin.errorMsg }}</div>
        </div>

        <form name="manualInputForm" ng-submit="admin.manualInput(member);" novalidate>
          <div class="form-group">
            <label for="memberUsername">Member's Username</label>
            <input type="text" class="form-control" name="name" id="memberUsername" ng-model="admin.member.userName" required>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-success">Submit</button>
              <button type="reset" class="btn btn-danger" ng-click="admin.closeManualInputModal(user)">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
