<div class="container custom-container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Admin Panel</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-member-tab" data-toggle="tab" data-target="#nav-member" role="tab" aria-controls="nav-member" aria-selected="true">Members</a>
          <a class="nav-item nav-link" id="nav-event-tab" data-toggle="tab" data-target="#nav-event" role="tab" aria-controls="nav-event" aria-selected="false">Events</a>
          <a class="nav-item nav-link" id="nav-request-tab" data-toggle="tab" data-target="#nav-request" role="tab" aria-controls="nav-request" aria-selected="false">Requests</a>
          <!-- <a class="nav-item nav-link" id="nav-stats-tab" data-toggle="tab" data-target="#nav-stats" role="tab" aria-controls="nav-stats" aria-selected="false">Statistics</a> -->
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-member" role="tabpanel" aria-labelledby="nav-member-tab">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Search</span>
                  </div>
                  <input type="text" class="form-control" ng-model="searchText">
                </div>
              </div>
            </div>
            <table class="table table-responsive-lg table-striped">
              <tr>
                <th>NAME</th>
                <th>USERNAME</th>
                <th>MAJOR</th>
                <th>YEAR</th>
                <th>EMAIL</th>
                <th>POINTS</th>
              </tr>
              <tr ng-repeat="user in admin.users | orderBy: 'lastName' | filter: searchText">
                <td>{{ user.lastName }}, {{ user.firstName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.major }}</td>
                <td>{{ user.year }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.points }}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-event" role="tabpanel" aria-labelledby="nav-event-tab">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-9 col-12">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Search</span>
                  </div>
                  <input type="text" class="form-control" ng-model="searchText">
                </div>
              </div>
              <div class="col-md-4 col-sm-3 col-12">
                <button type="button" class="btn btn-submit float-right" ng-click="admin.openCreateEventModal()">Create Event</button>
              </div>
            </div>

            <table class="table table-responsive-lg table-striped">
              <tr>
                <th>NAME</th>
                <th>CODE</th>
                <th>TYPE</th>
                <th>EXPIRATION</th>
                <th>POINTS</th>
              </tr>
              <tr ng-repeat="code in admin.codes | orderBy: 'lastName' | filter: searchText">
                <td>{{ code.name }}</td>
                <td>{{ code.code }}</td>
                <td>{{ code.type }}</td>
                <td>{{ code.expiration | date:'MM/dd/yyyy @ hh:mm a' }}</td>
                <td>{{ code.points }}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-request" role="tabpanel" aria-labelledby="nav-request-tab">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <p>Requests</p>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="tab-pane fade" id="nav-stats" role="tabpanel" aria-labelledby="nav-stats-tab">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="text-center">Member Nationality</h4>
                <canvas id="nationalityChart" width="400" height="400" ng-init="admin.nationalityChart()"></canvas>
              </div>
            </div>
          </div>
        </div> -->

      </div>

    </div>
  </div>

</div>

<!-- CREATE EVENT MODAL -->
<div class="modal fade" id="createEventModal" aria-labelledby="createEventLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="createEventLabel">Create Event</h3>
      </div>
      <div class="modal-body">
        <div class="success-message" ng-show="admin.successMsg">
          <div class="alert alert-success">{{ admin.successMsg }}</div>
        </div>

        <div class="error-message" ng-show="admin.errorMsg">
          <div class="alert alert-danger">{{ admin.errorMsg }}</div>
        </div>

        <form name="createEventForm" ng-submit="admin.createEvent(eventData);" novalidate>
          <div class="form-group">
            <label for="eventName">Event Name</label>
            <input type="text" class="form-control" name="name" id="eventName" ng-model="admin.eventData.name" required>
          </div>

          <div class="form-group">
            <label for="eventCode">Event Code</label>
            <input type="text" class="form-control" name="code" id="eventCode" ng-model="admin.eventData.code" required>
          </div>

          <div class="form-group">
            <label for="eventType">Event Type</label>
            <select class="form-control" name="type" id="eventType" ng-model="admin.eventData.type" required>
              <option>General Body Meeting</option>
              <option>Cabinet Meeting</option>
              <option>Social</option>
              <option>Fundraiser</option>
              <option>Volunteering</option>
            </select>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-success" ng-if="admin.showModal">Submit</button>
              <button type="submit" class="btn btn-danger" ng-click="admin.closeModal(eventData)">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
