<div class="container custom-container">
  <div class="row">
    <div class="col-md-8 col-12">
      <h1 class="display-4">Résumé Repository</h1>
    </div>
    <div class="col-md-4 col-12">
      <div class="float-right">
        <button type="button" class="btn btn-submit">Update Résumé</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">

    <div class="col-sm-12 col-md-9 col-lg-10">
      <div class="container">
        <h3 class="subtitle">My Résumé</h3>
        <iframe src="https://drive.google.com/file/d/1H4v_qV2-yWvCZ_ZVzgx75LXIMmkKDJ0w/preview" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-2">
      <div class="container">
        <h3 class="subtitle">Samples</h3>
        <button type="button" class="btn btn-submit btn-block">Aerospace</button>
        <button type="button" class="btn btn-submit btn-block">Biomedical</button>
        <button type="button" class="btn btn-submit btn-block">Chemical</button>
        <button type="button" class="btn btn-submit btn-block">Civil</button>
        <button type="button" class="btn btn-submit btn-block">CISE</button>
        <button type="button" class="btn btn-submit btn-block">ISE</button>
        <button type="button" class="btn btn-submit btn-block">Mechanical</button>
      </div>
    </div>

  </div>

</div>
