<div class="container custom-container">
  <div class="row">
    <div class="col-sm-10 col-12">
      <h2>Résumé Repository</h2>
    </div>
    <div class="col-sm-2 col-12">
      <div class="float-right">
        <button type="button" class="btn btn-submit" ng-click="resume.openResumeModal()">Update Résumé</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">

    <div class="col-sm-12 col-md-9 col-lg-10">
      <div class="container">
        <h3 class="subtitle">My Résumé</h3>
        <iframe src="https://drive.google.com/file/d/1H4v_qV2-yWvCZ_ZVzgx75LXIMmkKDJ0w/preview" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-2">
      <div class="container">
        <h3 class="subtitle">Samples</h3>
        <button type="button" class="btn btn-submit btn-block">Aerospace</button>
        <button type="button" class="btn btn-submit btn-block">Biomedical</button>
        <button type="button" class="btn btn-submit btn-block">Chemical</button>
        <button type="button" class="btn btn-submit btn-block">Civil</button>
        <button type="button" class="btn btn-submit btn-block">CISE</button>
        <button type="button" class="btn btn-submit btn-block">ISE</button>
        <button type="button" class="btn btn-submit btn-block">Mechanical</button>
      </div>
    </div>

  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="resumeModal" aria-labelledby="resumeModalLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="resumeModalLabel">Update Profile</h3>
      </div>
      <div class="modal-body">

        <form name="editUserForm" ng-submit="resume.uploadResume(resume)">
          <div class="form-group">
            <label for="resumeFile">File</label>
            <input type="file" class="form-control-file" name="logo" id="resumeFile" ng-model="company.logo" ng-file-select="onFileSelect($files)">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="reset" class="btn btn-danger float-right" ng-click="resume.closeResumeModal()">Close</button>
        </form>

      </div>
    </div>
  </div>
</div>
