@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeue-HeavyItalic.otf);
}

body {
  font-family: 'Roboto';
}

.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: rgb(230, 230, 230);
}

.navbar-dark, .bg-dark {
  background-color: rgb(0, 51, 80) !important;
}

.navbar-brand {
  font-family: 'Uni Neue';
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Uni Neue';
  text-transform: uppercase;
  color: rgb(235, 70, 22);
}

span {
  color: rgb(235, 70, 22);
}

hr {
  background-color: rgb(0, 64, 101);
}

.home-jumbotron {
  background-image: url(../images/home-bg.jpg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
  border-radius: 0px;
}

.jumbotron {
  margin-bottom: 30px;
}

.white-text {
  color: rgb(255, 255, 255);
}

.fas {
  color: rgb(235, 70, 22);
  padding-top: 15px;
  padding-bottom: 15px;
}

.carousel {
  padding-bottom: 50px;
}

.register-container, .login-container {
  padding: 30px 30px 30px 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.profile-container {
  padding-top: 36px;
}

.register-bg, .login-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.register-bg {
  background-image: url(../images/register-bg.jpg);
  background-color: green;
  background-position: 0% 50%;
}

.login-bg {
  background-image: url(../images/login-bg.jpg);
}

.full-height {
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
}

.btn-submit {
  color: rgb(235, 70, 22);
  background-color: rgb(255, 255, 255);
  border-color: rgb(235, 70, 22);
}

.btn-submit:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(235, 70, 22);
  border-color: rgb(235, 70, 22);
}

.alert {
  margin-bottom: 0px;
  padding: 6px 6px 6px 6px;
  text-align: center;
}

.success-message {
  -webkit-animation: pulse 0.3s both ease;
  -moz-animation: pulse 0.3s both ease;
  animation: pulse 0.3s both ease;
}

.error-message {
  -webkit-animation: shake 0.3s both ease;
  -moz-animation: shake 0.3s both ease;
  animation: shake 0.3s both ease;
}

.nav-name:hover {
  color: rgb(255, 210, 0) !important;
}
