@font-face {
  font-family: "heading-font";
  src: url(../fonts/UniSansBold.otf);
}

@font-face {
  font-family: "body-font";
  src: url(../fonts/SFCompactTextLight.otf);
}

* {
  font-family: 'body-font';
}

body {
  color: #6C777D !important;
  font-family: 'body-font';
  margin-bottom: 40px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #003457;
}

.footer-text {
  margin: 0px 0px 0px 0px;
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.5);
}

.footer-text:hover {
  color: rgb(255, 255, 255);
}

.navbar {
  border-image: linear-gradient(to right, #EB4616 40%, #00BCE4 60%);
  border-image-slice: 1;
  border-width: 3px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-style: solid;
}

.navbar-dark, .bg-dark {
  background-color: #003350 !important;
}

.navbar-brand {
  font-family: 'heading-font';
  font-size: 2rem;
  vertical-align: text-bottom;
}

.orange-text {
  font-family: 'heading-font';
  font-size: 2rem;
  color: #EB4616;
}

.caps {
  font-family: 'heading-font';
}

h1, h2, h3, h4, h5 {
  color: #EB4616;
  font-family: 'heading-font';
  text-transform: uppercase;
}

hr {
  background-color: #003457;
}

.home-title {
  background-image: url(../images/home-bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px;
  padding-bottom: 12rem;
  padding-top: 12rem;
  margin-bottom: 30px;
}

.team-title {
  background-image: url(../images/team-bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px;
  padding-bottom: 6rem;
  padding-top: 6rem;
  text-align: center;
}

.jumbotron {
  margin-bottom: 30px;
}

.white {
  color: #FFFFFF;
}

.fas-feature {
  margin-top: 24px;
  margin-bottom: 24px;
}

.carousel {
  padding-bottom: 50px;
}

.register-container, .login-container, .username-container, .password-container, .reset-container {
  background-color: rgb(255, 255, 255);
  padding: 24px 24px 24px 24px;
  margin-top: 36px;
  margin-bottom: 36px;
  border-radius: 6px;
}

.custom-container {
  padding-bottom: 36px;
  padding-top: 36px;
}

.register-bg, .login-bg, .username-bg, .password-bg, .reset-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.register-bg {
  background-image: url(../images/register-bg.jpg);
}

.login-bg {
  background-image: url(../images/login-bg.jpg);
}

.username-bg {
  background-image: url(../images/username-bg.jpg);
}

.password-bg {
  background-image: url(../images/password-bg.jpg);
}

.reset-bg {
  background-image: url(../images/reset-bg.jpg);
}

.full-height {
  align-items: center;
  display: flex;
  min-height: calc(100vh - 64px - 40px);
}

.btn-submit {
  border-color: #EB4616;
  color: #EB4616;
}

.btn-submit:hover {
  background-color: #EB4616;
  border-color: #EB4616;
  color: #FFFFFF;
}

.btn-excel {
  border-color: #1F6F43;
  color: #1F6F43;
}

.btn-excel:hover {
  background-color: #1F6F43;
  border-color: #1F6F43;
  color: #FFFFFF;
}

.btn-light {
  background-color: #E2E2E2;
  border-color: #E2E2E2;
}

.btn-light:hover {
  background-color: #CBCBCB;
  border-color: #CBCBCB;
}

.alert {
  margin-bottom: 0px;
  padding: 6px 6px 6px 6px;
  text-align: center;
}

.success-message {
  -webkit-animation: bounceIn 0.5s both ease;
  -moz-animation: bounceIn 0.5s both ease;
  animation: bounceIn 0.5s both ease;
  margin-bottom: 16px;
}

.error-message {
  -webkit-animation: shake 0.5s both ease;
  -moz-animation: shake 0.5s both ease;
  animation: shake 0.5s both ease;
  margin-bottom: 16px;
}

.empty-message {
  -webkit-animation: bounceIn 0.5s both ease;
  -moz-animation: bounceIn 0.5s both ease;
  animation: bounceIn 0.5s both ease;
  margin-bottom: 16px;
}

.nav-name {
  color: #00BCE4 !important;
  text-transform: uppercase;
}

/* .nav-name:hover {
  color: #EB4616 !important;
} */
.admin-text {
  color: #00BCE4 !important;
}

.national-text {
  color: #EB4616 !important;
}

/* .admin-text:hover {
  color: #EB4616 !important;
} */
.tab-pane {
  padding: 30px 10px 30px 10px;
}

.btn-row {
  height: 54px;
}

.password-text {
  margin-bottom: 0px;
}

th, td {
  border-bottom: solid;
  border-color: #DCE0E6 !important;
  border-width: 1px 1px 1px 1px !important;
}

.card-text {
  color: #FFFFFF;
  font-family: "body-font";
  font-size: 1.2rem;
  margin-bottom: 0px;
}

.card-header {
  color: #FFFFFF;
  font-size: 1.5rem;
}

.card-footer {
  color: #FFFFFF;
  font-size: 1.2rem;
}

.subtitle {
  color: #2D2D2D;
  font-family: "body-font";
  text-transform: capitalize;
}

.col-margin {
  margin-bottom: 16px;
}

iframe {
  height: 480px;
  width: 100%;
}

.stat-text {
  overflow: hidden;
  white-space: nowrap;
  font-size: 6rem;
  margin-bottom: 0px;
}

.a {
  text-decoration: none !important;
  color: #EB4616;
}

.a:hover {
  text-decoration: none !important;
  color: #EB4616;
}

.short-table {
  overflow-y: scroll;
  margin-bottom: 16px;
}

.attendance-table {
  max-height: 400px;
}

.user-events-table {
  max-height: 270px;
}

.filter-table {
  max-height: 200px;
}

/* LOGOUT LOADER */
.sk-cube-grid {
  height: 80px;
  margin: 100px auto;
  width: 80px;
}

.sk-cube-grid .sk-cube {
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  background-color: #EB4616;
  float: left;
  height: 33%;
  width: 33%;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

/* LOGOUT LOADER */
#mapid {
  height: 540px;
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.all-caps {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #EB4616;
  font-family: 'body-font';
}

.row-feature {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-style: solid;
  border-radius: 6px;
  border-width: 1.5px;
}

.row-feature {
  border-color: #00BCE4;
}

.navy {
  color: #003457;
}

.orange {
  color: #EB4616;
}

.turquoise {
  color: #00BCE4;
}

.white {
  color: #FFFFFF;
}

.table-head {
  background-color: #D9D9D9 !important;
}

td, th {
  padding: 8px 8px 8px 8px !important;
  vertical-align: middle !important;
}

.fa-admin {
  color: #F5AF02;
}

.btn-block {
  margin: 6px 0px 6px 0px;
}

a {
  text-decoration: none !important;
}

.img-team {
  display: block;
  width: 100%;
  height: auto;
}

.card-body, .list-group-item {
  padding: 10px 10px 10px 10px;
}

.btn-website {
  background-color: #FFFFFF;
  border-color: #F5AF02;
  color: #F5AF02;
}

.btn-website:hover {
  background-color: #F5AF02;
  border-color: #F5AF02;
  color: #FFFFFF;
}

.btn-facebook {
  background-color: #FFFFFF;
  border-color: #3C5A99;
  color: #3C5A99;
}

.btn-facebook:hover {
  background-color: #3C5A99;
  border-color: #3C5A99;
  color: #FFFFFF;
}

.btn-linkedin {
  background-color: #FFFFFF;
  border-color: #0077B5;
  color: #0077B5;
}

.btn-linkedin:hover {
  background-color: #0077B5;
  border-color: #0077B5;
  color: #FFFFFF;
}

.btn-email {
  background-color: #FFFFFF;
  border-color: #33A445;
  color: #33A445;
}

.btn-email:hover {
  background-color: #33A445;
  border-color: #33A445;
  color: #FFFFFF;
}

.btn-group-toggle {
  margin-bottom: 16px;
  text-align: center;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.fa-true {
  color: #33A445;
  width: 20px;
}

.fa-false {
  color: #DC3545;
  width: 20px;
}

a {
  color: #00BCE4;
}

a:hover {
  color: #0094B6;
}

.img-company {
  width: 100%;
  height: 20rem;
  max-height: 240px;
  object-fit: contain;
  padding: 12px 12px 12px 12px;
}

.img-logo {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
}

.nav-tabs>a {
  float: none;
}

canvas {
  margin-bottom: 16px;
}

.nav-link.active, .nav-item-highlight.show .nav-link {
  background-color: #FFFFFF !important;
  border-top-width: 3px !important;
  border-top-color: #00BCE4 !important;
}

.nav-item-highlight {
  background-color: #DEE2E6 !important;
  border-width: 1px !important;
  border-top-width: 3px !important;
  border-color: #DEE2E6 !important;
  margin-right: 1px;
  margin-left: 1px;
}

.tab-content {
  border-top-width: 0px !important;
}

.table-full {
  width: 100vw;
}

.sponsor {
  border: 1.5px;
  border-style: solid;
  border-color: #F5AF02;
}

.fa-sync {
  padding: 48px 16px;
}

.danger {
  color: #DC3545;
}

.quote-jumbotron {
  background: url("../images/home-3.jpg");
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 32px;
  border-radius: 0px;
}
