<div class="container custom-container">

  <div class="row">
    <div class="col-sm-12">
      <h2>Rewards Program</h2>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="container">
        <h3 class="subtitle">Statistics</h3>
        <div class="card-group">
          <div class="card bg-points">
            <div class="card-body text-center">
              <h1 class="card-text display-1">{{ main.points }}</h1>
              <p class="card-text">Points</p>
            </div>
          </div>
          <div class="card bg-percentile">
            <div class="card-body text-center">
              <h1 class="card-text display-1">83</h1>
              <p class="card-text">Percentile</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="subtitle">Points Record</h3>
            <table class="table table-responsive-lg table-striped">
              <tr>
                <th>Date</th>
                <th>Event</th>
                <th>Category</th>
                <th>Points</th>
              </tr>
              <tr>
                <td>09/02/18</td>
                <td>First Fall General Body Meeting</td>
                <td>Meeting</td>
                <td>1</td>
              </tr>
              <tr>
                <td>09/02/18</td>
                <td>First Fall General Body Meeting</td>
                <td>Meeting</td>
                <td>1</td>
              </tr>
              <tr>
                <td>09/02/18</td>
                <td>First Fall General Body Meeting</td>
                <td>Meeting</td>
                <td>1</td>
              </tr>
              <tr>
                <td>09/02/18</td>
                <td>First Fall General Body Meeting</td>
                <td>Meeting</td>
                <td>1</td>
              </tr>
              <tr>
                <td>09/02/18</td>
                <td>First Fall General Body Meeting</td>
                <td>Meeting</td>
                <td>1</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
