<div class="container custom-container">
  <div class="row">
    <div class="col-sm-6">
      <h1>Rewards Program</h1>
    </div>
    <div class="col-sm-6">
      <button type="button" class="btn btn-submit float-right">More Information</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <div class="container">
        <h2 class="subtitle">Statistics</h2>
        <div class="card-group">
          <div class="card bg-points">
            <div class="card-body text-center">
              <h1 class="card-text display-1">17</h1>
              <p class="card-text">Points</p>
            </div>
          </div>
          <div class="card bg-percentile">
            <div class="card-body text-center">
              <h1 class="card-text display-1">83</h1>
              <p class="card-text">Percentile</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="subtitle">Points Record</h2>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-submit float-right">View More</button>
          </div>
        </div>
        <div class="row">
          <table class="table table-hover table-striped">
            <tr>
              <th>Date</th>
              <th>Event</th>
              <th>Category</th>
              <th>Points</th>
            </tr>
            <tr>
              <td>09/02/18</td>
              <td>First Fall GBM</td>
              <td>Meeting</td>
              <td>1</td>
            </tr>
            <tr>
              <td>09/02/18</td>
              <td>First Fall GBM</td>
              <td>Meeting</td>
              <td>1</td>
            </tr>
            <tr>
              <td>09/02/18</td>
              <td>First Fall GBM</td>
              <td>Meeting</td>
              <td>1</td>
            </tr>
            <tr>
              <td>09/02/18</td>
              <td>First Fall GBM</td>
              <td>Meeting</td>
              <td>1</td>
            </tr>
            <tr>
              <td>09/02/18</td>
              <td>First Fall GBM</td>
              <td>Meeting</td>
              <td>1</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
