<div class="reset-bg full-height">
  <div class="container">
    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-md-3 col-md-6 reset-container">
        <h1 class="text-center">Reset Password</h1>

        <hr>


        <div class="success-message" ng-show="reset.successMsg">
          <div class="alert alert-success">{{ reset.successMsg }}</div>
        </div>

        <div class="error-message" ng-show="reset.errorMsg">
          <div class="alert alert-danger">{{ reset.errorMsg }}</div>
        </div>

        <form name="regForm" ng-hide="reset.hide" ng-submit="reset.savePassword(regData, regForm.$valid);" novalidate>
          <p>At least 8 characters. It must contain at least one lowercase character, one uppercase character, one number, and one special character.</p>
          <div class="form-group">
            <label for="userPassword">Password <span ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)"> (This field is required)</span></label>
            <input type="password" class="form-control" name="firstPassword" id="userPassword" ng-model="firstPassword" required>
          </div>

          <div class="form-group">
            <label for="userConfirmPassword">Confirm Password <span ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid"> (Passwords don't match)</span></label>
            <input type="password" class="form-control" name="confirmPassword" id="userConfirmPassword" ng-model="confirm" match="{{[ firstPassword ]}}" ng-change="reset.regData.password = confirm" required>
          </div>

          <hr>

          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-submit">Submit</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
