<div class="password-bg full-height">
  <div class="container">
    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-md-3 col-md-6 password-container">
        <h1 class="text-center">Forgot Password</h1>
        <hr>

        <div class="success-message" ng-show="main.successMsg">
          <div class="alert alert-success">{{ main.successMsg }}</div>
        </div>

        <div class="error-message" ng-show="main.errorMsg">
          <div class="alert alert-danger">{{ main.errorMsg }}</div>
        </div>

        <form ng-submit="main.doLogin(loginData);">
          <div class="form-group">
            <label for="userUsername">Username</label>
            <input type="text" class="form-control" id="userUsername" ng-model="main.loginData.username">
          </div>

          <div class="form-group">
            <label for="userPassword">Password</label>
            <input type="password" class="form-control" id="userPassword" ng-model="main.loginData.password">
          </div>

          <hr>

          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-submit">Submit</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
