<div class="container custom-container">
  <h1>My Profile</h1>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <td>{{ main.firstName }} {{ main.lastName }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ main.email }}</td>
        </tr>
        <tr>
          <th>Major</th>
          <td>{{ main.major }}</td>
        </tr>
        <tr>
          <th>Year</th>
          <td>{{ main.year }}</td>
        </tr>
      </table>
      <button type="button" class="btn btn-submit">Modify Profile</button>
    </div>

    <div class="col-sm-6">
      <img class="img-fluid" src="../../assets/images/profile.png">
    </div>
  </div>
</div>
