<div class="register-bg">
  <div class="container">
    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 register-container">
        <h1 class="text-center">Register</h1>
        <p>Forget filling out the same information at every SHPE UF event, register once and don't worry about lining up to sign in.</p>
        <hr>
        <form>
          <div class="form-group row">
            <label for="userFirst" class="col-sm-3 col-form-label text-right">First Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="userFirst">
            </div>
          </div>

          <div class="form-group row">
            <label for="userLast" class="col-sm-3 col-form-label text-right">Last Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="userLast">
            </div>
          </div>

          <div class="form-group row">
            <label for="userMajor" class="col-sm-3 col-form-label text-right">Major</label>
            <div class="col-sm-9">
              <select class="form-control" id="userMajor">
                <option>Aerospace Engineering</option>
                <option>Agricultural & Biological Engineering</option>
                <option>Biomedical Engineering</option>
                <option>Chemical Engineering</option>
                <option>Civil Engineering</option>
                <option>Coastal & Oceanographic Engineering</option>
                <option>Computer Engineering</option>
                <option>Computer Science</option>
                <option>Digital Arts & Sciences</option>
                <option>Electrical Engineering</option>
                <option>Environmental Engineering Sciences</option>
                <option>Human-Centered Computing</option>
                <option>Industrial & Systems Engineering</option>
                <option>Materials Science & Engineering</option>
                <option>Mechanical Engineering</option>
                <option>Nuclear Engineering</option>
                <option>Other</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="userYear" class="col-sm-3 col-form-label text-right">Year</label>
            <div class="col-sm-9">
              <select class="form-control" id="userYear">
                <option>1st Year</option>
                <option>2nd Year</option>
                <option>3rd Year</option>
                <option>4th Year</option>
                <option>5th Year or higher</option>
                <option>Graduate Student</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="userEmail" class="col-sm-3 col-form-label text-right">Email Address</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="userEmail">
            </div>
          </div>

          <div class="form-group row">
            <label for="userUsername" class="col-sm-3 col-form-label text-right">Username</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="userUsername">
            </div>
          </div>

          <div class="form-group row">
            <label for="userPassword" class="col-sm-3 col-form-label text-right">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="userPassword">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-9">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="userListServ">
                <label class="form-check-label" for="userListServ">Please, add me to the ListServ!</label>
              </div>
            </div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-submit float-right">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
