<div class="register-bg full-height">
  <div class="container">
    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-md-3 col-md-6 register-container">
        <h1 class="text-center">Register</h1>

        <hr>

        <div class="success-message" ng-show="register.successMsg">
          <div class="alert alert-success">{{ register.successMsg }}</div>
        </div>

        <div class="error-message" ng-show="register.errorMsg">
          <div class="alert alert-danger">{{ register.errorMsg }}</div>
        </div>

        <form name="regForm" ng-submit="register.regUser(regData);" novalidate>
          <div class="form-group">
            <label for="userFirst">First Name <span ng-show="(!regForm.firstName.$pristine && regForm.firstName.$error.required) || (regForm.$submitted && regForm.firstName.$error.required)"> (This field is required)</span></label>
            <input type="text" class="form-control" name="firstName" id="userFirst" ng-model="register.regData.firstName" required>
          </div>

          <div class="form-group">
            <label for="userLast">Last Name <span ng-show="(!regForm.lastName.$pristine && regForm.lastName.$error.required) || (regForm.$submitted && regForm.lastName.$error.required)"> (This field is required)</span></label>
            <input type="text" class="form-control" name="lastName" id="userLast" ng-model="register.regData.lastName" required>
          </div>

          <div class="form-group">
            <label for="userMajor">Major  <span ng-show="(!regForm.major.$pristine && regForm.major.$error.required) || (regForm.$submitted && regForm.major.$error.required)"> (This field is required)</span></label>
            <select class="form-control" name="major" id="userMajor" ng-model="register.regData.major" required>
                <option>Aerospace Engineering</option>
                <option>Agricultural & Biological Engineering</option>
                <option>Biomedical Engineering</option>
                <option>Chemical Engineering</option>
                <option>Civil Engineering</option>
                <option>Computer Engineering</option>
                <option>Coastal & Oceanographic Engineering</option>
                <option>Computer Science</option>
                <option>Digital Arts & Sciences</option>
                <option>Electrical Engineering</option>
                <option>Environmental Engineering Sciences</option>
                <option>Human-Centered Computing</option>
                <option>Industrial & Systems Engineering</option>
                <option>Materials Science & Engineering</option>
                <option>Mechanical Engineering</option>
                <option>Nuclear Engineering</option>
                <option>Other</option>
              </select>
          </div>

          <div class="form-group">
            <label for="userYear">Year <span ng-show="(!regForm.year.$pristine && regForm.year.$error.required) || (regForm.$submitted && regForm.year.$error.required)"> (This field is required)</span></label>
            <select class="form-control" name="year" id="userYear" ng-model="register.regData.year" required>
                <option>1st Year</option>
                <option>2nd Year</option>
                <option>3rd Year</option>
                <option>4th Year</option>
                <option>5th Year or higher</option>
                <option>Graduate Student</option>
              </select>
          </div>

          <div class="form-group">
            <label for="userEmail">Email <span ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)"> (This field is required)</span></label>
            <input type="email" class="form-control" name="email" id="userEmail" ng-model="register.regData.email" required>
          </div>

          <div class="form-group">
            <label for="userUsername">Username <span ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)"> (This field is required)</span></label>
            <input type="text" class="form-control" name="username" id="userUsername" ng-model="register.regData.username" required>
          </div>

          <div class="form-group">
            <label for="userPassword">Password <span ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)"> (This field is required)</span></label>
            <input type="password" class="form-control" name="firstPassword" id="userPassword" ng-model="firstPassword" required>
            <p class="text-muted">At least 8 characters. It must contain at least one lowercase character, one uppercase character, one number, and one special character.</p>
          </div>

          <div class="form-group">
            <label for="userConfirmPassword">Confirm Password <span ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid"> (Passwords don't match)</span></label>
            <input type="password" class="form-control" name="confirmPassword" id="userConfirmPassword" ng-model="confirm" match="{{[ firstPassword ]}}" ng-change="register.regData.password = confirm" required>
          </div>


          <hr>

          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-submit">Submit</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
