<div class="container custom-container">
  <div class="row">
    <div class="col-12">
      <h2>Corporate Database</h2>
    </div>
    <!-- <div class="col-12">
      <p style="margin-bottom: 0px !important">{{ corporate.companies.length }} Companies</p>
    </div> -->
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-item-highlight nav-link active" id="nav-company-tab" data-toggle="tab" data-target="#nav-company" role="tab" aria-controls="nav-company" aria-selected="false">Companies</a>
      <a class="nav-item nav-item-highlight nav-link" id="nav-bookmark-tab" ng-click="corporate.getBookmarks()" data-toggle="tab" data-target="#nav-bookmark" role="tab" aria-controls="nav-bookmark" aria-selected="true">Bookmarks</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">

    <!-- COMPANIES -->
    <div class="tab-pane fade show active" id="nav-company" role="tabpanel" aria-labelledby="nav-company-tab">
      <div class="container">
        <div class="row" ng-if="corporate.companies.length == 0">
          <div class="col-sm-12">
            <div class="container">
              <div class="jumbotron">
                <p class="text-center">THERE ARE NO COMPANIES IN THE CORPORATE DATABASE AT THIS TIME.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="corporate.companies.length != 0">
          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input type="text" class="form-control" ng-model="corporateSearchText">
            </div>
            <div class="row">
              <div class="col-12 col-md-4 col-lg-3" ng-repeat="company in corporate.companies | filter: corporateSearchText | orderBy: 'name'" style="margin-bottom: 16px;">
                <div class="card">
                  <img class="card-img-top img-company" ng-src="{{ company.logo }}">
                  <div class="card-footer text-center">
                    <h4 class="ellipsis">{{ company.name }}</h4>
                    <button type="button" class="btn btn-block btn-submit" ng-click="corporate.openMoreInfoModal(company._id)">Profile</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOKMARKS -->
    <div class="tab-pane fade show active" id="nav-bookmark" role="tabpanel" aria-labelledby="nav-bookmark-tab">
      <div class="container">
        <div class="row" ng-repeat="bookmark in corporate.bookmarks | orderBy: 'name'">
          <div class="col-sm-3">
            <img class="img-fluid img-company" ng-src="{{ bookmark.logo }}">
          </div>
          <div class="col-sm-7">
            <h3>{{ bookmark.name }}</h3>
            <div class="row" style="margin-bottom: 16px">
              <div class="col-12">
                <p>{{ bookmark.overview }}</p>
              </div>
              <div class="col-6">
                <h5>News Link</h5>
                <a href="{{ bookmark.apply }}" target="_blank" style="display: inline-block;">Click here</a>
              </div>
              <div class="col-6">
                <h5>Apply Link</h5>
                <a href="{{ bookmark.apply }}" target="_blank" style="display: inline-block;">Click here</a>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-block btn-submit" ng-click="corporate.openMoreInfoModal(bookmark._id)">Profile</button>
            <button type="button" class="btn btn-block btn-outline-danger" ng-click="corporate.openMoreInfoModal(bookmark._id)">Remove</button>
          </div>
          <div class="col-12">
            <hr>
          </div>
        </div>
        <!-- <p ng-repeat="bookmark in corporate.bookmarks">{{ bookmark.name }}, {{ bookmark.slogan}} , {{ bookmark._id }}</p> -->
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="moreInfoModal" aria-labelledby="moreInfoModalLabel">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="moreInfoModal">Company Profile</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <h3>{{ corporate.company.name }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4">
            <img class="img-fluid img-logo" ng-src="{{ corporate.company.logo }}">
            <div ng-if="corporate.company.slogan">
              <h5>Slogan</h5>
              <p>"{{ corporate.company.slogan }}"</p>
            </div>
            <h5>Majors</h5>
            <p>{{ corporate.company.majorsList }}</p>
            <h5>Industries</h5>
            <p>{{ corporate.company.industryList }}</p>
          </div>
          <div class="col-12 col-lg-8">
            <div ng-if="corporate.company.overview">
              <h5>Overview</h5>
              <p>{{ corporate.company.overview }}</p>
            </div>
            <div ng-if="corporate.company.mission">
              <h5>Mission</h5>
              <p>{{ corporate.company.mission }}</p>
            </div>
            <div ng-if="corporate.company.goals">
              <h5>Goals</h5>
              <p>{{ corporate.company.goals }}</p>
            </div>
            <div ng-if="corporate.company.model">
              <h5>Business Model/Operations Highlights</h5>
              <p>{{ corporate.company.model }}</p>
            </div>
            <div class="row" style="margin-bottom: 16px;">
              <div class="col-6">
                <h5>News Link</h5>
                <a href="{{ corporate.company.news }}" target="_blank" style="display: inline-block;">Click here</a>
              </div>
              <div class="col-6">
                <h5>Apply Link</h5>
                <a href="{{ corporate.company.apply }}" target="_blank" style="display: inline-block;">Click here</a>
              </div>
            </div>
            <h5>Other Information</h5>
            <div class="row" style="margin-bottom: 16px;">
              <div class="col-12">
                <i class="fas fa-check fa-true" ng-if="corporate.company.academia"></i>
                <i class="fas fa-times fa-false" ng-if="!corporate.company.academia"></i>
                Academia
              </div>
              <div class="col-12">
                <i class="fas fa-check fa-true" ng-if="corporate.company.government"></i>
                <i class="fas fa-times fa-false" ng-if="!corporate.company.government"></i>
                Government Department/Contractor
              </div>
              <div class="col-12">
                <i class="fas fa-check fa-true" ng-if="corporate.company.nonprofit"></i>
                <i class="fas fa-times fa-false" ng-if="!corporate.company.nonprofit"></i>
                Non-profit Organization
              </div>
              <div class="col-12">
                <i class="fas fa-check fa-true" ng-if="corporate.company.visa"></i>
                <i class="fas fa-times fa-false" ng-if="!corporate.company.visa"></i>
                Providing Visa Sponsorship
              </div>
              <div class="col-12">
                <i class="fas fa-check fa-true" ng-if="corporate.company.sponsor"></i>
                <i class="fas fa-times fa-false" ng-if="!corporate.company.sponsor"></i>
                SHPE UF Sponsor
              </div>
              <div class="col-12">
                <i class="fas fa-check fa-true" ng-if="corporate.company.ipc"></i>
                <i class="fas fa-times fa-false" ng-if="!corporate.company.ipc"></i>
                Industry Partnership Council
              </div>
              <div class="col-12">
                <i class="fas fa-check fa-true" ng-if="corporate.company.bbqFall"></i>
                <i class="fas fa-times fa-false" ng-if="!corporate.company.bbqFall"></i>
                Attending Fall BBQ with Industry
              </div>
              <div class="col-12">
                <i class="fas fa-check fa-true" ng-if="corporate.company.bbqSpring"></i>
                <i class="fas fa-times fa-false" ng-if="!corporate.company.bbqSpring"></i>
                Attending Spring BBQ with Industry
              </div>
              <div class="col-12">
                <i class="fas fa-check fa-true" ng-if="corporate.company.national"></i>
                <i class="fas fa-times fa-false" ng-if="!corporate.company.national"></i>
                Attending SHPE National Convention
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-light" ng-click="corporate.closeMoreInfoModal()">Close</button>
            <button type="button" class="btn btn-success float-right" ng-click="corporate.addBookmark(corporate.company._id)">Bookmark</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
